<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Blackjack</title>
    </head>
    <body>
        <div class='container'>
            <h1>Blackjack</h1>
            <div class='row'>
                <div class='col col-sm-6'>
                    <h4>Player:</h4>
                    <p>
                        {% for card in game.player.cards %}
                            <img src={{ card.img }} width='20%'>
                        {% endfor %}
                    </p>
                </div>
                <div class='col col-sm-6'>
                    <h4>Dealer:</h4>
                    <p>
                        {% for card in game.dealer.cards %}
                            <img src={{ card.img }} width='20%'>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <hr>
            <div class='row'>
                <div class='col-sm-6'>
                    {% if game.player.bust == true or game.dealer.stand == true or game.dealer.bust == true %}
                        {% if game.player.bust and not game.dealer.bust %}
                            You went bust, the dealer won
                        {% elseif game.dealer.bust and not game.player.bust %}
                            The dealer went bust, you won
                        {% elseif game.dealer.bust and game.player.bust %}
                            Draw, you both went bust
                        {% elseif game.dealer.score > game.player.score %}
                            The dealer won with {{ game.dealer.score }}
                        {% elseif game.player.score > game.dealer.score %}
                            You won with {{ game.player.score }}
                        {% elseif game.player.score == game.dealer.score %}
                            Draw at {{ game.player.score }}
                        {% endif %}
                    {% else %}
                        <h4>On the line: ${{ game.bet }}.00</h4>
                        <div class='handActive'>
                            <form method='post' action='/postChoice'>
                                <button type='submit' class='btn' name='playerChoice' value='hit'>Hit</button>
                                <button type='submit' class='btn' name='playerChoice' value='stand'>Stand</button>
                            </form>
                        </div>
                    {% endif %}
                </div>

                <div class='col-sm-6 pull-right'>
                    <h4>Money: ${{ game.bank }}.00</h4>
                    {% if game.gameover %}
                        <h4>Game over!</h4>
                        <form method='post' action='newgame'>
                            <button type='submit' class='btn'>Start new game</button>
                        </form>
                        <br>
                    {% elseif game.player.bust == true or game.dealer.stand == true or game.dealer.bust == true %}
                        <form method='post' action='/postHand' class='form-inline'>
                            <div class='form-group'>
                                <label for 'betInput'>Your bet: $</label>
                                <input type='number' value='5' min='0' max={{ game.bank }} name='playerBet' id='betInput' class='form-control'>
                                <button type='submit' class='btn' value='new'>Deal new hand</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
